<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoC.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CoC.Bot.Properties.Settings>
            <setting name="MaxTrophies" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="MinGold" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="MinElixir" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="MinDarkElixir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinTrophyCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsMeetGold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMeetDarkElixir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMeetTrophyCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAlertWhenBaseFound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTroopComposition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedBarrack4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedAttackMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxCannonLevel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxArcherTowerLevel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxMortarLevel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxWizardTowerLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxXbowLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsAttackTheirKing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAttackTheirQueen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedDeployStrategy" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectedDeployTroop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsAttackTownhall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedKingAttackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedQueenAttackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsAttackUsingClanCastle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMeetElixir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMeetTownhallLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinTownhallLevel" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="RequestTroopsMessage" serializeAs="String">
                <value>any</value>
            </setting>
            <setting name="IsRequestTroops" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateKeywordsGiants" serializeAs="String">
                <value>giants|giant|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsWallBreakers" serializeAs="String">
                <value>wall breakers|wb|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsBalloons" serializeAs="String">
                <value>balloons|balloon|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsWizards" serializeAs="String">
                <value>wizards|wiz|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsHealers" serializeAs="String">
                <value>healer|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsDragons" serializeAs="String">
                <value>dragon|drake|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsPekkas" serializeAs="String">
                <value>p.e.k.a.a|pekka|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsMinions" serializeAs="String">
                <value>minions|mini|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsHogRiders" serializeAs="String">
                <value>hog riders|hogs|bacon|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsValkyries" serializeAs="String">
                <value>valkyries|valk|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsGolems" serializeAs="String">
                <value>golem|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsWitches" serializeAs="String">
                <value>witches|witch|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsLavaHounds" serializeAs="String">
                <value>lava hound|lava|reinforcement|any</value>
            </setting>
            <setting name="IsDonateBarbarians" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateArchers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDonateGoblins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateGiants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateWallBreakers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateBalloons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateWizards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateHealers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateDragons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonatePekkas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateMinions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateHogRiders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateValkyries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateGolems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateWitches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateLavaHounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllBarbarians" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllArchers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllGoblins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllGiants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllWallBreakers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllBalloons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllWizards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllHealers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllDragons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllPekkas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllMinions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllHogRiders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllValkyries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllGolems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllWitches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDonateAllLavaHounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxDonationsPerRequestArchers" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestBalloons" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestBarbarians" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestDragons" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDonationsPerRequestGiants" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestGoblins" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestGolems" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDonationsPerRequestHealers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDonationsPerRequestHogRiders" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestLavaHounds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDonationsPerRequestMinions" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestPekkas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDonationsPerRequestValkyries" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxDonationsPerRequestWallBreakers" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxDonationsPerRequestWitches" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDonationsPerRequestWizards" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DonateKeywordsBarbarians" serializeAs="String">
                <value>barbarians|barbs|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsArchers" serializeAs="String">
                <value>archers|arch|reinforcement|any</value>
            </setting>
            <setting name="DonateKeywordsGoblins" serializeAs="String">
                <value>goblins|gobs|reinforcement|any</value>
            </setting>
            <setting name="SelectedDarkBarrack1" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SelectedDarkBarrack2" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TroopsQtyArchers" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TroopsQtyBarbarians" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyBalloons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyDragons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyGiants" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TroopsQtyGoblins" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TroopsQtyGolems" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyHealers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TroopsQtyHogRiders" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyLavaHounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyMinions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyPekkas" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyValkyries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyWallBreakers" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TroopsQtyWitches" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TroopsQtyWizards" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsUseBarracks1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseBarracks2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseBarracks3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseBarracks4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseDarkBarracks1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseDarkBarracks2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationClanCastle" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationBarrack1" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationBarrack2" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationBarrack3" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationBarrack4" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationDarkBarrack1" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationDarkBarrack2" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationAllTrapsRearm" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationAllXbowsRearm" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector1" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector2" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector3" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector4" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector5" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector6" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector7" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector8" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector9" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector10" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector11" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector12" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector13" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector14" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector15" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector16" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LocationCollector17" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="IsTakeSnapshotAllTowns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTakeSnapshotAllLoots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCustomWave" serializeAs="String">
                <value>False</value>
            </setting>
        </CoC.Bot.Properties.Settings>
    </userSettings>
</configuration>