<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoC.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CoC.Bot.Properties.Settings>
            <setting name="MaxTrophies" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinGold" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="MinElixir" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="MinDarkElixir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinTrophyCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeetGold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeetDarkElixir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeetTrophyCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertWhenBaseFound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BarbariansPercent" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ArchersPercent" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GoblinsPercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumberOfGiants" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NumberOfWallBreakers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SelectedTroopComposition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedBarrack4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedAttackMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxCannonLevel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxArcherTowerLevel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxMortarLevel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxWizardTowerLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxXbowLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttackTheirKing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AttackTheirQueen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedDeployStrategy" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectedDeployTroop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AttackTownhall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedKingAttackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedQueenAttackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttackUsingClanCastle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeetElixir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeetTownhallLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinTownhallLevel" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="RequestTroopsMessage" serializeAs="String">
                <value>any</value>
            </setting>
            <setting name="RequestTroops" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateKeyboardsBarbarians" serializeAs="String">
                <value>barbarians|barbarian|barbs|any</value>
            </setting>
            <setting name="DonateKeyboardsArchers" serializeAs="String">
                <value>archers|archer|arch|any</value>
            </setting>
            <setting name="DonateKeyboardsGoblins" serializeAs="String">
                <value>goblins|goblin|any</value>
            </setting>
            <setting name="DonateKeyboardsGiants" serializeAs="String">
                <value>giants|giant|any</value>
            </setting>
            <setting name="DonateKeyboardsWallBreakers" serializeAs="String">
                <value>wall breakers|wb|any</value>
            </setting>
            <setting name="DonateKeyboardsBalloons" serializeAs="String">
                <value>balloons|balloon|any</value>
            </setting>
            <setting name="DonateKeyboardsWizards" serializeAs="String">
                <value>wizards|wizard|any</value>
            </setting>
            <setting name="DonateKeyboardsHealers" serializeAs="String">
                <value>healer|any</value>
            </setting>
            <setting name="DonateKeyboardsDragons" serializeAs="String">
                <value>dragon|any</value>
            </setting>
            <setting name="DonateKeyboardsPekkas" serializeAs="String">
                <value>p.e.k.a.a|pekka|any</value>
            </setting>
            <setting name="DonateKeyboardsMinions" serializeAs="String">
                <value>minions|minion|mini|any</value>
            </setting>
            <setting name="DonateKeyboardsHogRiders" serializeAs="String">
                <value>hog riders|hog rider|hogs|any</value>
            </setting>
            <setting name="DonateKeyboardsValkyries" serializeAs="String">
                <value>valkyries|valkyrie|valk|any</value>
            </setting>
            <setting name="DonateKeyboardsGolems" serializeAs="String">
                <value>golem|any</value>
            </setting>
            <setting name="DonateKeyboardsWitches" serializeAs="String">
                <value>witches|witch|any</value>
            </setting>
            <setting name="DonateKeyboardsLavaHounds" serializeAs="String">
                <value>lava hound|hound|any</value>
            </setting>
            <setting name="DonateBarbarians" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateArchers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DonateGoblins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateGiants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateWallBreakers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateBalloons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateWizards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateHealers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateDragons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonatePekkas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateMinions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateHogRiders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateValkyries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateGolems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateWitches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateLavaHounds" serializeAs="String">
                <value>False</value>
            </setting>
        </CoC.Bot.Properties.Settings>
    </userSettings>
</configuration>