<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoC.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CoC.Bot.Properties.Settings>
            <setting name="MaxTrophies" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinGold" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="MinElixir" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="MinDarkElixir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinTrophyCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeetGold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeetDarkElixir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeetTrophyCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertWhenBaseFound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BarbariansPercent" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ArchersPercent" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GoblinsPercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumberOfGiants" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NumberOfWallBreakers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SelectedTroopComposition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedBarrack4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedAttackMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxCannonLevel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxArcherTowerLevel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxMortarLevel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxWizardTowerLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxXbowLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttackTheirKing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AttackTheirQueen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedDeployStrategy" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectedDeployTroop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AttackTownhall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedKingAttackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedQueenAttackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttackUsingClanCastle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeetElixir" serializeAs="String">
                <value>True</value>
            </setting>
        </CoC.Bot.Properties.Settings>
    </userSettings>
</configuration>